@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  /* Ensinando as cores para o Tailwind (ex: text-agro-blue) */
  --color-agro-blue: var(--color-blue);
  --color-agro-gold: var(--color-gold);
  --color-agro-bg: var(--color-bg);
  --color-agro-card: var(--color-card);
  --color-agro-black: #110D09;

  --font-space: "Space Grotesk", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

/* ⚪ MODO CLARO - Suas cores reais */
:root {
  --color-blue: #005BEC;
  --color-gold: #B08E68;
  --color-bg: #F7F2EB;
  --color-card: #FFFFFF;
}

/* 🌙 MODO ESCURO - O que muda quando aperta o botão */
.dark {
  --color-blue: #F7F2EB; /* Azul vira branco para ler no fundo escuro */
  --color-gold: #B08E68; /* Dourado se mantém igual */
  --color-bg: #110D09;   /* Fundo vira Preto */
  --color-card: #1A1612; /* Card vira Grafite */
}

/* Fundo base suave, sem !important */
body {
  background-color: var(--color-bg);
  color: var(--color-blue);
  transition: background-color 0.4s ease, color 0.4s ease;
}
/* 🖱️ CURSOR BLINDADO - AGROTÓXICA */
* {
  /* Forçamos em todos os elementos (*) para não ter erro */
  cursor: url('/cursorsite.svg') 0 0, auto !important;
}

/* Elementos de interação */
button, 
a, 
input, 
select, 
[role="button"],
.cursor-pointer {
  cursor: url('/cursorsite.svg') 0 0, pointer !important;
}

/* Mantemos o grab no 3D para não bugar a experiência */
model-viewer, model-viewer * {
  cursor: grab !important;
}